<div class="loginBox">
    <h2>Login</h2>
    <form>
        <div class="inputBox">
            <input type="text" id="username" required="">
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input type="password" id="password" required="">
            <label>Password</label>
        </div>
        <input type="submit" id="submit" value="Submit">
    </form>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(() => {
  $("#submit").on("click", event => {
    event.preventDefault();
    let userAccount = $("#username").val().trim();
    let password = $("#password").val().trim();

    $.get(`/api/users/${userAccount}`, data => {
      if (data != null && data.userAccount === userAccount && data.userPassword === password) {
        localStorage.setItem("userID", data.id);
        localStorage.setItem("isManager", data.isManager);
        localStorage.setItem("CompanyId", data.CompanyId);

        let userInfo = {
          userID: localStorage.getItem("userID"),
          isManager: localStorage.getItem("isManager"),
          CompanyId: localStorage.getItem("CompanyId")
        };

        document.location.href = `/${userInfo.CompanyId}/${userInfo.userID}/${userInfo.isManager}`;
      } else {
        alert("ERROR YOU ARE NOT PERMITTED HERE!");
      }
    });
  });
});
</script>
