.list-group-item {
  line-height: 2.5;
}

header {
font-family: 'Montserrat', sans-serif;
}

brand-logo {
  font-family: 'Montserrat', sans-serif;
}

.mainpanel-content {
  color: rgb(221, 227, 255);
}

.container {
  color: rgb(221, 227, 255);
  font-family: 'Montserrat', sans-serif;
}

.login-box {
  height: 100%;
}