.list-group-item {
  line-height: 2.5;
}

#addUserButton:link {
color: white;
text-decoration: none;
}
#addUserButton:visited {
  color: white;
}

/*----------Login Page----------*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../images/44878-landscape-nature-sunset-pier.jpg");
  background-size: cover;
}
.loginBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.loginBox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: white;
  text-align: center;
}
.loginBox .inputBox {
  position: relative;
}
.loginBox .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.loginBox .inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.loginBox .inputBox input:focus ~ label,
.loginBox .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.loginBox input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
/*----------End Login Page----------*/

/*-----------adduser page----------*/
#userToAdd .inputBox {
  position: relative;

}
#userToAdd .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
#userToAdd .inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
#userToAdd .inputBox input:focus ~ label,
#userToAdd .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
#userToAdd .custom-checkbox{
  margin-bottom: 10px;
}
#userToAdd input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
/*-------End of adduser page-------*/

/* Begin table page */
input {
  width: 65px;
}

label {
  padding-right: 0;
}

.inOut {
  margin-right: 0%;
}

body {
font-family: 'Open Sans', sans-serif;
font-weight: 300;
line-height: 1.42em;
color:#000000;
/* background-color:#1F2739; */
}

td {
  width: 165px;
}

tr th {
  color: #000000;
}

/* h1 {
font-size:3em; 
font-weight: 300;
line-height:1em;
text-align: center;
color: #4DC3FA;
} */

/* h2 {
font-size:1em; 
font-weight: 300;
text-align: center;
display: block;
line-height:1em;
padding-bottom: 2em;
color: #FB667A;
}

h2 a {
font-weight: 700;
text-transform: uppercase;
color: #FB667A;
text-decoration: none;
} */

/* .blue { color: #185875; }
.yellow { color: #FFF842; } */

/* .container th h1 {
  font-weight: bold;
  font-size: 1em;
text-align: left;
color: #185875;
} */

.container td {
  font-weight: normal;
  font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
display: table;
padding: 0 0 8em 0;
}

.container td, .container th {
  padding-bottom: 2%;
  padding-top: 2%;
padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  /* background-color: #323C50; */
    background-color: #ffffff;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  /* background-color: #2C3446; */
    background-color: #cccccc;
}

.container th {
  background-color: #cccccc;
}

.container td:first-child { color: #000000; }

/* .container tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
} */


/* .container td:hover {
background-color: #f2f2f2;
color: #403E10;
font-weight: bold;

box-shadow: #f2f2f2 -1px 1px, #f2f2f2 -2px 2px, #f2f2f2 -3px 3px, #f2f2f2 -4px 4px, #f2f2f2 -5px 5px, #f2f2f2 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
transition-timing-function: line;
} */

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

/* End table page */