.list-group-item {
  line-height: 2.5;
}

<<<<<<< HEAD
header {
font-family: 'Montserrat', sans-serif;
}

brand-logo {
  font-family: 'Montserrat', sans-serif;
}

.mainpanel-content {
  color: rgb(221, 227, 255);
}

.container {
  color: rgb(221, 227, 255);
  font-family: 'Montserrat', sans-serif;
}

.login-box {
  height: 100%;
}
=======
#addUserButton:link {
color: white;
text-decoration: none;
}
#addUserButton:visited {
  color: white;
}

/*----------Login Page----------*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../images/44878-landscape-nature-sunset-pier.jpg");
  background-size: cover;
}
.loginBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.loginBox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: white;
  text-align: center;
}
.loginBox .inputBox {
  position: relative;
}
.loginBox .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.loginBox .inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.loginBox .inputBox input:focus ~ label,
.loginBox .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.loginBox input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
/*----------End Login Page----------*/

/*-----------adduser page----------*/
#userToAdd .inputBox {
  position: relative;

}
#userToAdd .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
#userToAdd .inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
#userToAdd .inputBox input:focus ~ label,
#userToAdd .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
#userToAdd .custom-checkbox{
  margin-bottom: 10px;
}
#userToAdd input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
/*-------End of adduser page-------*/
>>>>>>> master
